.container {
	text-align: center;
	width: 100%;
	h2 {
		margin-bottom: 5vh;
	}
}

.form {
	width: 85%;

	margin-inline: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 5vh;

	:global(.ck-editor) {
		width: 100% !important;
	}
}
