@use "/assets/settings.scss";

.input {
	all: unset;
	height: 4vh;
	text-align: center;
	border: solid 1px settings.$textColor;
	border-radius: 20px;
	padding-inline: 10px;
	font-size: 0.75rem;

	transition: all 0.1s ease;
	&:focus {
		border-color: settings.$primaryColor;
	}
}

.fileContainer {
	border: 1px solid settings.$textColor;
	width: 100%;
}

.file {
	width: 100%;
	&::file-selector-button {
		cursor: pointer;
		color: #000;
		border: 0px;
		border-right: 1px solid settings.$textColor;
		padding: 10px 15px;
		margin-right: 20px;
		transition: 0.3s;

		&:hover {
			color: settings.$primaryColor;
		}
	}
}
