@use "/assets/settings.scss";

.button {
	all: unset;
	cursor: pointer;

	border-radius: 10px;
	padding: 10px;

	font-size: 0.75rem;
	font-weight: bold;

	transition: all 0.1s ease;

	display: flex;
	justify-content: center;
	align-items: center;

	&.black {
		border: solid 2px settings.$textColor;
		color: settings.$textColor;
	}

	&.white {
		border: solid 2px white;
		color: white;
	}

	&.yellow {
		border: solid 2px settings.$primaryColor;
		color: settings.$primaryColor;
	}

	&.gold {
		border: solid 2px settings.$secondaryColor;
		color: settings.$secondaryColor;
	}

	&:hover {
		transform: scale(1.1);

		&.hover_black {
			color: settings.$textColor;
			border-color: settings.$textColor;
		}

		&.hover_white {
			color: white;
			border-color: white;
		}

		&.hover_yellow {
			color: settings.$primaryColor;
			border-color: settings.$primaryColor;
		}

		&.hover_gold {
			color: settings.$secondaryColor;
			border-color: settings.$secondaryColor;
		}
	}
}
