.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.checks {
	font-size: 0.75rem;

	overflow: hidden;
	transition: all 0.2s linear;

	height: 0;
	transform: scaleY(0);
	opacity: 0;

	&.show {
		margin-top: 2vh;

		height: auto;
		transform: scaleY(1);
		opacity: 1;
	}
}
