.form {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1vh;
}

.input {
	width: calc(100% - 20px) !important;
}

.error {
	color: darkred;
	font-size: 0.75rem;
}
