@use "/assets/settings.scss";

@mixin inputMixin() {
	height: 4vh;
	text-align: center;
	border: solid 1px settings.$textColor;
	border-radius: 20px;
	padding-inline: 10px;

	transition: all 0.1s ease;
	&:focus {
		border-color: settings.$primaryColor;
	}
}

.container {
	text-align: center;
	width: 100%;
	h2 {
		margin-bottom: 5vh;
	}
}

.form {
	width: 40%;

	margin-inline: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 5vh;

	:global(.ck-editor) {
		width: 100% !important;
	}

	@media (max-width: 700px) {
		width: 80%;
	}

	@media (max-width: 1100px) and (min-width: 650px) {
		width: 70%;
	}

	@media (max-width: 1300px) and (min-width: 1100px) {
		width: 60%;
	}
}

.title {
	all: unset;
	width: 100%;
	@include inputMixin();
}

.submit {
	all: unset;
	cursor: pointer;
	border: solid 2px settings.$textColor;
	border-radius: 10px;
	padding: 10px;

	font-size: 0.75rem;
	font-weight: bold;

	transition: all 0.1s ease;

	&:hover {
		color: settings.$primaryColor;
		border-color: settings.$primaryColor;
		transform: scale(1.1);
	}
}

.image {
	width: 50%;
	aspect-ratio: 16/9;
	border: solid 1px settings.$primaryColor;
}

.imageInput {
	width: 40%;
	@include inputMixin();
}

.imageContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
