@use "/assets/settings.scss";

* {
	margin: 0;
}

html {
	color: settings.$textColor;
	font-size: max(16px, calc(0.7vmax + 7px));
}

main {
	min-height: calc(90vh - settings.$headerHeight - settings.$footerHeight);
	min-height: calc(90dvh - settings.$headerHeight - settings.$footerHeight);
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 5vh;
	padding-bottom: 5vh;
}
