@use "../assets/settings.scss";

.container {
	width: 80%;
	margin: 5vh auto;
	display: flex;
	flex-wrap: wrap;
	row-gap: 5vh;
	text-align: center;

	column-gap: calc((20% - 24px) / 3);
	@media (max-width: 700px) {
		column-gap: 0;
	}

	@media (max-width: 1100px) and (min-width: 650px) {
		flex-basis: 40%;
		column-gap: calc(20% - 12px);
	}

	@media (max-width: 1300px) and (min-width: 1100px) {
		flex-basis: 25%;
		column-gap: calc((25% - 18px) / 2);
	}
}

.post,
.addPost {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 20%;

	@media (max-width: 700px) {
		flex-basis: 100%;
	}

	@media (max-width: 1100px) and (min-width: 650px) {
		flex-basis: 40%;
	}

	@media (max-width: 1300px) and (min-width: 1100px) {
		flex-basis: 25%;
	}
}

.post {
	border: solid settings.$primaryColor 3px;
	border-radius: 0 0 20px 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	img {
		width: 100%;
		border-bottom: solid settings.$primaryColor 3px;
	}

	a {
		all: unset;

		cursor: pointer;
		color: settings.$secondaryColor;
		border: solid 3px settings.$secondaryColor;
		padding: 10px;
		width: calc(90% - 20px);
		border-radius: 10px;
		margin-bottom: 10px;
		transition: all 0.1s ease;

		&:hover {
			color: settings.$primaryColor;
			border-color: settings.$primaryColor;
			transform: scale(0.95);
		}
	}
}

.postInfo {
	opacity: 0.6;
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.postTitle {
	width: 90%;
	font-weight: bold;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 1;
	-webkit-line-clamp: 1;
}
.addPost {
	border: dashed settings.$textColor 3px;
	border-radius: 0 0 20px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	color: settings.$textColor;
	opacity: 0.3;
	transition: all 0.1s ease;

	&:hover {
		opacity: 0.2;
		transform: scale(0.95);
	}
}

.error {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
